:root {
  --clr-blue-300: 215 51% 70%;
  --clr-blue-700: 215 32% 27%;
  --clr-blue-800: 216 50% 16%;
  --clr-blue-900: 217 54% 11%;
  --clr-cyan-400: 178 100% 50%;
  --clr-white: 0 0% 100%;
}

/* RESET */

/* https://andy-bell.co.uk/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  font-size: 1.125rem;
  background-color: var(--clr-blue-900);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
